@import url(https://fonts.googleapis.com/css?family=Pridi:200,300,400,500,600,700);
@import "variables";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "paper/paper-dashboard";
@import "mixins/helpers";

// @import "overides";
// @import "basket";
@import "item";

.text-primary { color: $brand-primary !important; }
.text-info { color: $brand-info !important; }
.text-success { color: $brand-success !important; }
.text-warning { color: $brand-warning !important; }
.text-danger { color: $brand-danger !important; }

[v-cloak] {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.md-layout {
    height: 100%;

    .md-column {
        height: inherit;
    }
}

.main-sidebar.md-sidenav {
    .md-sidenav-content {
        position: fixed !important;
        pointer-events: auto;
        transform: none !important;
        box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
        top: 0;

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            width: 0;
        }

        .main-sidebar-links {
            overflow: auto;
            flex: 1;
            height: 100%;
        }
    }
}

.main-sidebar.md-sidenav.md-right .md-sidenav-content {
    width: 400px !important;
}

.page-content {
    float: left;
    width: 100%;
    height: 100%;
    padding: 25px 424px 25px 330px;
}

.md-bottom-bar {
    bottom: 0 !important;
    position: absolute !important;
}
